@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
  --soft-blue: hsl(215, 51%, 70%); 
  --cyan: hsl(178, 100%, 50%); 
  --very-dark-blue-bg: hsl(217, 54%, 11%); 
  --very-dark-blue-card: hsl(216, 50%, 16%); 
  --white: hsl(0, 0%, 100%); 
}

* {
  margin: 0; 
  border: 0; 
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--very-dark-blue-bg);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-container {
  background-color: var(--very-dark-blue-card);
  width: 85%; 
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  border-radius: 1rem;
}

.card-container .pic {
  display: flex;
  justify-content: center;
}

.card-container .pic img {
  width: 90%; 
  margin-top: 1rem; 
  margin-bottom: 1rem; 
  border-radius: 0.5rem;
}

.text {
  display: flex;
  flex-direction: column;
  padding: 1rem; 
}

.text h1 {
  color: var(--white); 
  padding-bottom: 1rem;
  font-size: 1.5rem; 
}

.text p {
  color: var(--soft-blue); 
  font-size: 18px; 
}

.ethereum-time {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem; 
}

.ethereum-time .ethereum {
  color: var(--cyan);
  font-weight: bold; 
}

.ethereum-time .time {
  color: var(--soft-blue); 
}

hr {
  border-top: 1px solid var(--soft-blue); 
  margin: auto 1rem; 
}

.profile {
  display: flex;
  align-items: center;
  padding: 1rem; 
}

.profile img {
  width: 2.5rem; 
  border-radius: 50%;
  border: 1px solid var(--white); 
}

.creator {
  padding-left: 1rem; 
  font-size: 18px;
  color: var(--soft-blue); 
}

.creator span {
  color: var(--white); 
}